<h1>Edit Post</h1>
<form action="/posts/" method="patch">
  <label for="name">Name: </label>
  <input type="text" name="name" value=""><br>
  <label for="content"> Content: </label>
  <textarea name="content" rows="10" cols="100" value=""><br>

  <input type="submit" id="submit" value="submit">
</form>
