<h1>Create New Post</h1>
<form action="/posts" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name"><br>
  <label for="content"> Content: </label>
  <textarea name="content" rows="10" cols="100"><br>

  <input type="submit" id="submit" value="submit">
</form>
